<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  <title>Login or Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/LoginSignup.css' %}">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
  <div class="LoginContainer">
    <img src="{% static 'images/logo.png' %}" alt="Frayed" class="LoginLogo">
    <h1 class="LoginLogin">Login</h1>
    <form id="LoginForm" method="post">
      {% csrf_token %}
      <div class="LoginEmail">
        <p>Email</p>
          <input id="LoginEmailInput" type="email" name="username" placeholder="Type Your Email" required>
      </div>
      <div class="LoginPassword">
        <p>Password</p>
          <input id="LoginPasswordInput" type="password" name="password" placeholder="Type Your Password" required>
      </div>
    </form>
    <div class="ForgotPassword">
      <a href="#">Forgot Your Password?</a>
    </div>
      {% if form.non_field_errors %}
      <div id="errorDiv">
        {{ form.non_field_errors.0 }}
      </div>
      {% endif %}
      {% if messages %}
      <div id="errorDiv">
        {% for message in messages %}
        <div style="color: {% if message.tags == 'error' %}red{% else %}green{% endif %};">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <button form="LoginForm" type="submit">Login</button>
    <div class="SignUpLink">
      <p>Don't have an account?</p>
      <a href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>
</body>
<script src="{% static 'js/LoginSignupScript.js' %}"></script>
</html>